<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Veritabani Baglanti Bilgileri -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/studentdb</property>
        <property name="hibernate.connection.username">cankurttekin</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Diger Hibernate Ozellikleri -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- Ilk baglantida create sonra update -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping ve entity classlar -->
        <mapping class="com.kurttekin.can.model.Student"/>
    </session-factory>
</hibernate-configuration>